@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-family: "Noto Sans", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.heading {
  font-weight: 700;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  min-height: 600px;
}

.container .container-1,
.container .ref-image {
  border: 1px solid black;
  height: 100%;
  width: 100%;
}

.container .container-1{
  background: rgb(36, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .main-container,.live-container {
  /* border: 1px solid black; */
  height: 82.5vh;
  width: 19vw;
  min-width: 260px;
  min-height: 500px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.live-container{
  height: 100%;
}

.hidden{
  display: none;
}

.arrow {
  font-weight: 300;
}

.container .main-container .header .column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: gray;
}

.container .main-container .header .column .match-center {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  padding-left: 15px;
  padding-top: 20px;
}

.container .main-container .header .column .match-center .icon {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.container .main-container .header .column .menus {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10%;
  padding-top: 1rem;
  gap: 20px;
  /* font-size: 1; */
  /* transition:  0.5s ease-in-out; */
}

.container .main-container .header .column .menus > * {
  cursor: pointer;
}

.container .main-container .header .column hr {
  width: 30px;
  transform: translateX(-55px) translateY(7px);
  transition: all 0.5s ease-in-out;
}

.active {
  font-weight: 700;
  color: gray;
}

.main-container .header {
  width: 100%;
  height: 15%;
}

.main-container .live-stats-main {
  width: 100%;
  height: 19%;
  padding: 6px 0;
}

.main-container .live-stats-req {
  width: 100%;
  height: 6%;
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-container .live-stats-balls {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  gap: 0.9rem;
  text-align: center;
}

.main-container .live-stats-balls .dot-ball {
  background: none;
  color: black;
  width: auto;
}

.main-container .live-stats-balls * {
  width: 20px;
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: gray;
  border-radius: 50%;
}

.main-container .live-stats-req .live-stats-req__row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: 700;
  width: 60%;
}

.main-container .live-stats-players {
  width: 100%;
  height: 23%;
}

.fcsb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.border-separator {
  border-bottom: 1px solid rgb(231, 231, 231);
}

.live-stats-players .batting {
  padding: 10px 5px;
  height: 60%;
}

.live-stats-players .bowling {
  padding: 10px 5px;
  height: 40%;
}

.border {
  border: 1px solid black;
}

.live-stats-players .player-name {
  width: 40%;
}

.selected {
  background: darkorange;
  border-radius: 5px;
}

.live-stats-players .live-stats {
  width: 60%;
  justify-content: space-between;
  font-weight: 700;
}

.live-stats-players .data .live-stats {
  color: gray;
}

.live-stats-players .live-stats * {
  width: 100%;
  text-align: center;
}

.live-stats-players .players-batsman > * {
  /* border: 1px solid black; */
}

/* .main-container .live-stats-players .live-stats-players__row{
    display: flex;
    width: 100%;
}

.main-container .live-stats-players .live-stats-players__row .player{
    width: 40%;
}

.main-container .live-stats-players .live-stats-players__row .player--properties{
width: 60%;
}

.main-container .live-stats-players .live-stats-players__row .player--properties .player--properties__current-stats{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    border: 1px solid black;
}

.player--properties__batsman-icon,
.player--properties__batsman-1,
.player--properties__batsman-2,
.player--properties__bowler-icon,
.player--properties__current-bowler{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.player__batsman-icon-div,
.player__bowler-icon-div,
.player--properties__bowler-icon,
.player--properties__batsman-icon{
    font-weight: bold;
} */

.main-container .live-stats-balls {
  width: 100%;
  height: 6%;
}


.main-container .score-inputs {
  width: 100%;
  height: 41%;
  background-color: darkorange;
  margin: 0 auto;
}

.main-container .score-inputs .grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  color: white;
  margin: 1.5rem auto;
  align-items: center;
  justify-content: center;
}

.main-container .score-inputs .grid .grid__buttons {
  padding: 1rem 0.5rem;
  text-align: center;
}

.bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.297);
}

.right-border {
  border-right: 1px solid rgba(0, 0, 0, 0.297);
}

.special {
  color: black;
}

.icon--orange {
  color: darkorange;
  margin-right: 0.5rem;
}

.main-container .live-stats-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-container .live-stats-main * {
  font-weight: 700;
}

.main-container .live-stats-main .innigs-number {
  font-size: 0.9rem;
  color: rgb(96, 96, 96);
}

.main-container .live-stats-main .team-name {
  font-weight: 700;
  font-size: 1.05rem;
  text-transform: uppercase;
}

.main-container .live-stats-main .other-stats {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: gray;
}

.main-container .live-stats-main .other-stats * {
  /* border: 1px solid black; */
  width: 25%;
  text-align: center;
}

.main-container .live-stats-main .other-stats :nth-child(2) {
  text-transform: capitalize;
  color: black;
}

.main-container .live-stats-main .score {
  font-size: 3rem;
  font-weight: 700;
  color: darkcyan;
}

.container .ref-image {
  background-color: black;
  background-image: url("../References/scorecard-menu-1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-container .scorecard-container{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* border: 34px solid green; */
}

.main-container .scorecard-container .innings-buttons{
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  background: rgb(237, 237, 237);
}

.main-container .scorecard-container .innings-buttons >*{
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  background: rgb(237, 237, 237);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.selected-button{
  background: darkcyan;
  color: white;
}

.innings-buttons .innings-buttons__first-team{
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
}

.innings-buttons .innings-buttons__second-team{
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
}

.main-container .scorecard-container .extras{
  width: 100%;
  /* border: 1px solid green; */
  height: 5%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 1rem;
  font-weight: 600;
  color: rgb(95, 94, 94);
}

.main-container .scorecard-container .live-stats-players{
  font-weight: 700;
  color: black;
  width: 100%;
  /* font-size: 1rem; */
}

.main-container .scorecard-container .live-stats-players .heading{
  color: darkcyan;
}

.main-container .scorecard-container .live-stats-players .player-name{
  text-rendering: initial;
  white-space: nowrap;
  padding: 0.2rem;
  overflow:hidden;
}

.main-container .scorecard-container .live-stats-players .data{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
}

.main-container .scorecard-container .live-stats-players .data .player-name{
  width: 40%;
}

.main-container .scorecard-container .live-stats-players .data .live-stats{
  font-weight: 600;
  color: black;
  width: 60%;
}

.main-container .scorecard-container .live-stats-players{
  height: auto;
}

.main-container .scorecard-container .live-stats-players .state{
  width: 100%;
  /* border: 1px solid blue; */
  position: relative;
  top: 0;
  z-index: 100;
  /* width: 250px; */
  /* white-space: wrap; */
  font-weight: 400;
  color: gray;
  font-style: italic;
}

.main-container .scorecard-container .live-stats-players .data .player-props{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main-container .scorecard-container .live-stats-players .bowling .data{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.main-container .scorecard-container .innings-info{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(2,100%);
  gap: 0 4rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.main-container .scorecard-container .innings-info .total{
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
  display: flex;
  gap: 4rem;
  padding-top: 0.2rem;
  padding-left: 1rem;
  color: darkcyan;
}

.main-container .scorecard-container .innings-info .extras{
  width: 100%;
  text-align: right;
  display: flex;
  gap: 3.6rem;
  padding-left: 1rem;
}
.main-container .scorecard-container .innings-info .overs{
  width: 100%;
  text-align: justify;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-right:4rem ;
}

.main-container .scorecard-container .innings-info .overs>*,
.main-container .scorecard-container .innings-info .run-rate>*{
  width: 50%;
  text-align:justify;
  display: flex;
}

.main-container .scorecard-container .innings-info .run-rate{
  width: 100%;  
  text-align: center;
  justify-content: flex-start;
  display: flex;
  gap: 1rem;
  padding-right: 2rem;
}

.main-container .scorecard-container .innings-info .extras{
  font-weight: 600;
  color: black;
}

.main-container .scorecard-container .extras--row{
 display: flex;
 gap: 2rem;
 height: 5%;
 align-items: center;
 padding-top: 2rem;
 padding-left: 1rem;
 font-weight: 600;
}

.main-container .scorecard-container .fcsb.bowling{
  margin-top: 2rem;
}

.main-container .scorecard-container .data{
  padding-bottom: 0.5rem;
}

.main-container .scorecard-container .fall-of-wickets{
  /* height: 10%; */
  border: 1px solid black;
  padding: 1rem;
  font-weight: 600;

}

.fall-of-wickets .heading{
  color: darkcyan;
  font-size: 1.2rem;
}

.fall-of-wickets ol{
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}

.fall-of-wickets ol li{
  width: 95%;
  /* display: flex; */
  /* list-style: decimal; */
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding-left: 0;
}

.fall-of-wickets .wicket-info{
  width: 100%;
  display: flex;
  font-size: 1.1rem;
}

.fall-of-wickets .wicket-info .player-name{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  /* gap: 1rem; */
}

.fall-of-wickets .wicket-info .player-score{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}